# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

DATABASE_URL="postgresql://neondb_owner:npg_bnj6Dk1GZTWS@ep-frosty-smoke-ahx4vtqf-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require"
# Server Port
PORT=5000


# JWT Secret (replace with your own secure key)
JWT_ACCESS_SECRET="d3f4c0e97abfe1438c52a8d7de34fd3e6b02a31b22fc19ea37754bfc088ae14be6f4890c91a3b080c04e7d29f3bc8d51df923493dfc81fe1048fee2f7dc52ef9"


# Node environment
NODE_ENV=development
